*{
	margin: 0px ;
	padding: 0px;
}


#world { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	overflow: hidden;
	/*background-image: url("img/universo.jpg");*/
/*	background: linear-gradient(#E0E6F8, #2E64FE); */

/*	background-image: url("img/espacio.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

	display: block;
}

/*#guiContenedor {position: fixed; left: 0; bottom: 0; width: 20%; background: rgba(200, 54, 54, 0.1);
	padding: 2vw; padding-top: 2px; }


canvas { height: 100%; width: 100%; }*/

audio{
	z-index: 1;
	position: absolute;
	/*left: 40%;
	top: 5%;*/	
}

#controles{
	/*background-image: url("img/controles1.png");
	/*background-repeat: no-repeat;*/
	z-index: 1;
	position: absolute;
	width: 70%;
	left: 15%;
	bottom: 1%;
	height: 40%;
	border-radius: 10px;
/*	opacity: 0.2;*/

}

#imgControls{
	width: 100%;
	height: 100%;

}
/*#controles img{
	z-index: 1;
	position:absolutess  height:auto;
    width:100%;   
s